 {% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<nav class="navbar navbar-expand-lg" style="background-color: #004080;">
			<div class="container-fluid">
				<div class="d-flex flex-grow-1">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link text-white" href="{{path('app_accueil')}}">ACCUEIL</a>
						</li>
		
					</ul>
				</div>
				<div class="position-absolute top-50 start-50 translate-middle">
					<img src="{{ asset('images/logo.png') }}" width="80px" alt="Logo">
				</div>
				<div class="d-flex">
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-light" type="submit">Search</button>
					</form>
				</div>

			</div>
             
			<a href="{{ path('app_accueil') }}"> Accueil</a> |
            <a href="{{ path('dashboard') }}"> Accueil</a> |
            <a href="{{ path('guide_index') }}"> Guides</a> |
            <a href="{{ path('visite_index') }}"> Visites</a> |
            <a href="{{ path('user') }}">Utilisateurs</a> |
             <a href="{{ path('visiteur') }}">visiteur</a> |
            <a href="{{ path('stats_index') }}"> Statistiques</a> |
            {% if app.user %}
                Connecté : {{ app.user.email }} |
                <a href="{{ path('app_logout') }}"> Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Connexion</a>
            {% endif %}
        
		</nav>
{% endblock %}
